.stApp{
background-color:#f5f7fa;
}

h1,h2,h3{
color:#1e3a8a;
}

section[data-testid="stSidebar"]{
background:#1e293b;
}

section[data-testid="stSidebar"] *{
color:white;
}

.stButton>button{
background:#2563eb;
color:white;
border:none;
border-radius:8px;
height:45px;
width:220px;
font-size:17px;
font-weight:bold;
}

.stButton>button:hover{
background:#1d4ed8;
}

div[data-testid="metric-container"]{
background:white;
padding:18px;
border-radius:10px;
box-shadow:0px 3px 10px rgba(0,0,0,0.15);
}

div[data-testid="stAlert"]{
border-radius:10px;
}